body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

.navvy {
  background-color: #2A3744;
}

li.logo {
  font-family: 'Russo One', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 900;
}

.navvy li.logo a {
  text-decoration: none;
  color: white;
}

.pic {
  background: url("../media/pat_blue_motion2.gif");
  background-position: center;
  border-radius: 150px;
  display: block;
  margin: 15px auto;
  min-height: 300px;
  width: 300px;

}

.blurps {
  font-size: 2em;
  text-shadow: 3px 3px #000000;
  margin: 1.5em;
  padding-left: 1.5em;
  position: relative;
  top: -75px
}

.port {
  position: relative;
  top: -35px;
}

.project_container{
  display: inline-block;
}

.projects {
  text-shadow: 2px 2px #000000;
}

.projects p{
  font-size: 1.6em;
}

.projects img{
  height: 300px;
  width: 400px;
}

.contacts {
  position: relative;
  top: 10em;
  /*left: 3%;*/
}

#home div.welcome-text {
  position: absolute;
  transform: rotate(-90deg);
  left: -65px;
  top: 350px;
  /*transform-origin: 50% 50% 0;*/
  /*float: left;*/
  z-index: 10;
  font-family: 'Russo One', sans-serif;
  font-size: 40px;
  background: linear-gradient(yellow, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

div.vert-text {
  position: relative;
  transform: rotate(-90deg);
  left: -225px;
  top: 150px;
  float: left;
  z-index: 10;
  font-family: 'Russo One', sans-serif;
  font-size: 40px;
  background: linear-gradient(yellow, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#home {
  background-image: url("../media/sunrise.jpg");
  background-attachment: fixed;
  background-clip: initial;
  background-size: cover;
  background-position: 100% 0;
  background-repeat: no-repeat;
  /*color: white;*/
  /*min-height: 800px;*/
  min-height: 800px;
  min-width: 100%;
  padding-top: 5em;
  padding-bottom: 15em;
}

/*video#video {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url('../media/placeholder.png') no-repeat;
  background-size: cover;
}*/

#about {
  background: url("../media/midday_view.jpg");
  background-attachment: fixed;
  background-clip: initial;
  background-size: cover;
  background-position: 100% 0;
  background-repeat: no-repeat;
  min-height: 800px;
  padding: 10em;
  position: relative;
}

#portfolio {
  background: url("../media/sunset.jpg") 100% 0 repeat fixed;
  background-attachment: fixed;
  background-clip: initial;
  background-size: cover;
  background-position: 100% 0;
  background-repeat: no-repeat;
  min-height: 800px;
  padding: 10em;
  position: relative;

}

#contact {
  background: url("../media/nite_bay_bridge.jpg") 0% 0 repeat fixed;
  background-attachment: fixed;
  background-clip: initial;
  background-size: cover;
  background-position: 100% 20%;
  background-repeat: no-repeat;
  min-height: 800px;
  padding: 10em;
  position: relative;

}

p#caption {
  text-shadow: 3px 3px #000000;
  font-size: 30px;
  color: white;
  text-align: center;
}

#contact-icon {
  color: white;
  margin: 0 .07em;
}

#email {
  font-size: 25px;
}

footer {
  height: 10em;
  background-color: #2A3744;
}

footer p {
  position: relative;
  top: 50%;
  left: 40%;
}