body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

.navvy {
  background-color: #2A3744;
}

li.logo {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 900;
}

.navvy li.logo a {
  text-decoration: none;
  color: white;
}

a.reso {
  position: relative;
  left: 44%;
  color: white;
  background-color: transparent;

}

.pic {
  background: url("../media/pat_blue_motion2.gif");
  background-position: center;
  border-radius: 150px;
  display: block;
  margin: 50px auto;
  min-height: 300px;
  width: 300px;

}

.blurps {
  font-size: 2em;
  /*margin: 1.5em;*/
  /*padding-left: 1.5em;*/
  /*position: relative;*/
  /*top: -75px*/
}

.port {
  position: relative;
  top: -35px;
}

.project_container{
  display: inline-block;
  width: 100%
}

.project_container h3 {
  width: 100%;
  text-align: center;
  margin-top: 30px
}

.projects {
  max-height:400px;
  max-width: 500px;
}

.projects p{
  font-size: 1.6em;
}

.projects img{
  max-height: 250px;
  width: 100%;
}

.contacts {
  position: relative;
  margin-top: 10em;
}

#home div.welcome-text {
  position: absolute;
  transform: rotate(-90deg);
  left: -65px;
  top: 350px;
  z-index: 10;
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
}

div.vert-text {
  position: relative;
  transform: rotate(-90deg);
  left: -125px;
  top: 200px;
  float: left;
  z-index: 10;
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 700;
  width: 450px;
  margin-bottom: 25px;
  /*background: linear-gradient(yellow, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}


div.down-icon {
  text-align: center;
  min-width: 100%;
  margin-top: 50px;
}

.down-icon a {
  color: white;
  text-decoration: none;
}

.down-icon a:hover {
  color: grey;
}

div.up-icon {
  text-align: right;
  min-width: 100%;
  margin-top: 150px;
}

.up-icon a {
  color: white;
  text-decoration: none;
}

.up-icon a:hover {
  color: grey;
}

#home {
  background-image: url("../media/sunrise.jpg");
  background-attachment: fixed;
  background-clip: initial;
  background-size: cover;
  background-position: 100% 0;
  background-repeat: no-repeat;
  /*color: white;*/
  /*min-height: 800px;*/
  height: 800px;
  min-width: 100%;
  padding-top: 5em;
  padding-bottom: 13em;
  /*z-index: -10;*/
}

/*video#video {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url('../media/placeholder.png') no-repeat;
  background-size: cover;
}*/

#about {
  background: url("../media/lt_dusk.jpg");
  background-attachment: fixed;
  background-clip: initial;
  background-size: cover;
  background-position: 100% 0;
  background-repeat: no-repeat;
  height: 800px;
  /*width: 100%;*/
  padding: 2em;
  position: relative;
}

#portfolio {
  background: url("../media/sunset.jpg") 100% 0 repeat fixed;
  background-attachment: fixed;
  background-clip: initial;
  background-size: cover;
  background-position: 100% 0;
  background-repeat: no-repeat;
  height: 750px;
  padding: 2em;
  position: relative;

}

#contact {
  background: url("../media/nite_bay_bridge.jpg") 0% 0 repeat fixed;
  background-attachment: fixed;
  background-clip: initial;
  background-size: cover;
  background-position: 100% 20%;
  background-repeat: no-repeat;
  height: 600px;
  padding: 2em;
  position: relative;

}

p#caption {
  /*text-shadow: 3px 3px #000000;*/
  font-size: 30px;
  color: white;
  text-align: center;
}

#contact-icon {
  color: white;
  margin: 0 .07em;
}

#contact-icon:hover {
  color: blue;
}

#email {
  font-size: 25px;
}

footer {
  height: 10em;
  background-color: #2A3744;
}

footer p {
  position: relative;
  top: 50%;
  left: 40%;
}