body {
	background-image:url('../images/greyfloral.png');
}

#sidebar {
	float: left;
	width: 300px;
	margin-right: 10px;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 2px;
	padding: 5px;
	background:url('../images/old_map.png');
}

#edge {
	border: 2px solid white;
	border-radius: 150px;
	box-shadow: 10px 10px 10px;
}

#main_content {
	float: right; 
	width: 65%;
	position: relative;
	margin-top: 50px;	
}

#page_title {
	text-align: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	float: none;
	position: relative;
	color: red;
	letter-spacing: 3px;
}

.center {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.head1 {
	text-align: center;
}

.text {
	color: midnightblue; 
	display: inline-block;
}

.section p {
	display: inline-block;
	vertical-align: top;
	width: 40%;
}

.section article img {
	width: 400px;
}

h1 {
	color:#535354;
	font-family: sans-serif;
	text-decoration: underline;
}

h4 {
	color: red;
}

h3 strong em {
	color: red;
}

footer {
	border-top: 2px solid black;
}
