body {
	float: none;
	background-image: url("../images/old_map.png");
}
a:link {
	color: purple;
	text-decoration: none;
}

a:visited {
	color: blue;
}

a:hover {
	color: green;
	text-decoration: none;
}

a:active {
	color: pink;
	text-decoration: none;
}

img {
	position: relative;
	display: block;
	margin: 1% auto;
	border: 2px red dotted;
	max-width: 35%;
}

.sidebar {
	float: left;
}

#footer {
	float: right;
	right: 30%;
}

#title {
	color: red;
	font: italic; 
}

#caption {
	position: absolute;
	display: inline;
	top: 30%;
	font: 20px green bold;
	
}