body {
	background: #999;
	margin: 0;
}

h1 {
	font-size: 2.5em;
	color: aqua;
	text-align: center;
	text-decoration: underline;
}

p {
	color: yellow;
	font: 1.5625em comic sans-serif;
	text-align: center;
}

img {
	display: inline-block;

	float: left;
}

.beach {
	height: 300px;
	max-width: 33.33%;
}

.snow {
	height: 350px;
	max-width: 33.33%;
}

@media screen and (min-width: 770px) and (max-width: 980px) {

	h1 {
		font-size: 2em;
		color: aqua;
		text-align: center;
		text-decoration: underline;
	}

	p {
		color: yellow;
		font: 1.0625em comic sans-serif;
		text-align: center;
	}

	img {
		display: inline-block;
		float: left;
	}

	.beach {
		height: 300px;
		max-width: 33.33%;
	}

	.snow {
		height: 350px;
		max-width: 33.33%;
	}
}
@media screen and (max-width: 769px){

	h1 {
		font-size: 1.5em;
		color: aqua;
		text-align: center;
		text-decoration: underline;
	}

	p {
		color: yellow;
		font: 0.5625em comic sans-serif;
		text-align: center;
	}

	img {
		display: inline-block;
		float: left;
	}

	#beach1 {
		height: 300px;
		max-width: 50%;
	}

	#beach2 {
		height: 300px;
		max-width: 50%;
	}

	#beach3 {
		height: 300px;
		max-width: 50%;
	}

	#snow1 {
		height: 350px;
		max-width: 50%;
	}

	#snow2 {
		height: 350px;
		max-width: 50%;
	}

	#snow3 {
		height: 350px;
		max-width: 50%;
	}
}
@media screen  (max-width: 480px){

	h1 {
		font-size: 1em;
		color: aqua;
		text-align: center;
		text-decoration: underline;
	}

	p {
		color: yellow;
		font: .2625em comic sans-serif;
		text-align: center;
	}

	img {
		display: inline-block;
		float: left;
	}

	#beach1 {
		height: 200px;
		max-width: 100%;
	}

	#beach2 {
		height: 200px;
		max-width: 100%;
	}

	#beach3 {
		height: 200px;
		max-width: 100%;
	}

	#snow1 {
		height: 225px;
		max-width: 100%;
	}

	#snow2 {
		height: 225px;
		max-width: 100%;
	}

	#snow3 {
		height: 225px;
		max-width: 100%;
	}
}